<p>Dear <%= @user.display_name %>,</p>

<p>HR Department has sent you the payslip of T7.2014<br/>
Please kindly find the attachment in this e-mail and check it carefully.</p>

<p>Do not reply to this automatically-generated email.<br/>
If you have any feedback, please feel free to contact Ms NgocNTM at nguyen.thi.minh.ngoc@framgia.com before 15h01 05-8-2014</p>